.infinite-scroll-component {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 112.5px;
  grid-auto-flow: dense;
}

.infinite-scroll-component > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infinite-scroll-component > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

*:focus {
  outline: none;
}

.infinite-scroll-component > a {
  transition: all 0.2s ease;
}

.infinite-scroll-component > a:hover {
  transition: all 0.2s ease;
  opacity: 0.7;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.loading {
  grid-row-start: -1;
  width: 100%;
  text-align: center;
}

.text-right {
  text-align: right;
}