.infinite-scroll-component {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 112.5px;
  grid-auto-flow: dense;
}

*:focus {
  outline: none;
}

.infinite-scroll-component > a {
  transition: all 0.2s ease;
}

.infinite-scroll-component > a:hover {
  transition: all 0.2s ease;
  opacity: 0.7;
}

.flex-container {
  width: 100%; height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: row-wrap;
}

.flex-container > a {
  transition: all 0.5s ease;
  opacity: 0;
  border: none;
  background: transparent;
  text-decoration: none;
  color: cornsilk;
}

.flex-container > div {
  margin: auto 25px;
  width: 1024px; height: 720px;
  display: flex;
  flex-direction: column;
}

.ReactModal__Content {
  background: transparent !important;
  border: none !important;
  overflow: hidden !important;
  top: 0px !important;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.95) !important;
}

.ReactModal__Overlay:hover > .ReactModal__Content > .flex-container > a,
.ReactModal__Overlay:active > .ReactModal__Content > .flex-container > a
 {
  opacity: 1;
  transition: all 0.5s ease;
}

.responsive-img {
  width: 60%; height: 60%;
  object-fit: cover;
  margin: 0 auto;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.loading {
  grid-row-start: -1;
  width: 100%;
  text-align: center;
}

.text-right {
  text-align: right;
}