html, body {
  background-color: #131313;
  margin: 10px;
  color: lightgray;
  font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
}

h1 {
  text-align: center;
}

h3 > small {
  color: grey;
}

h1 > svg {
  vertical-align: middle;
}
