.closeButton {
  position: absolute;
  z-index: 9999;
  top: 0; right: 20px;
}

.closeButton, .flex-container > a {
  text-decoration: none;
  color: cornsilk;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transition: background-color 500ms ease;
}
  
.ReactModal__Content--before-close {
  opacity: 0;
  transition: opacity 500ms ease;
}

.flex-container {
  width: 100%; height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: row-wrap;
}

.flex-container > a {
  transition: all 0.5s ease;
  opacity: 0;
  border: none;
  background: transparent;
}

.flex-container > div {
  margin: auto 25px;
  width: 95vw; height: 720px;
  display: flex;
  flex-direction: column;
}

.ReactModal__Content {
  background: transparent !important;
  border: none !important;
  overflow: hidden !important;
  top: 0px !important; 
  left: 10px !important;
  right: 10px !important;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.95) !important;
}

.ReactModal__Overlay:hover > .ReactModal__Content > .flex-container > a,
.ReactModal__Overlay:active > .ReactModal__Content > .flex-container > a
  {
  opacity: 1;
  transition: all 0.5s ease;
}

.responsive-img-,
.responsive-img-big,
.responsive-img-horizontal,
.responsive-img-vertical {
  object-fit: cover;
  margin: 0 auto;
}

.responsive-img-big, .responsive-img- {
  width: 66%; height: 60%;
}

.responsive-img-horizontal {
  width: 80%; height: 60%;
}

.responsive-img-vertical {
  width: 35%; height: 60%;
}

@media screen and (max-width: 600px) {
  .responsive-img-,
  .responsive-img-big,
  .responsive-img-horizontal,
  .responsive-img-vertical {
    height: 45%; width: 100%;
  }
}